* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  user-select: none;
}

body {
  background-color: #101010;
}

/* Navbar */

.nav-container {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: #1f1f1f;
  padding: 15px 0;
  position: relative;
  border-bottom: solid 1px #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar {
  display: none;
}

.logo a {
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  font-size: 0.875rem;
}

nav ul li a:hover,
nav ul li:hover {
  color: #9c63ff;
}

@media screen and (max-width: 600px) {
  .bar {
    display: block;
    color: #ffffff;
  }

  nav {
    z-index: -1;
    position: absolute;
    width: 100%;
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #ffffff;
    flex-direction: column;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    padding: 20px 25px;
    margin: 0;
  }
}

/* Footer */

footer {
  margin-top: 70px;
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 30px;
  width: 100%;
}

.footer {
  position: relative;
  right: 0;
  color: #ffffff;
}

.timer {
  position: relative;
  color: #ffffff;
}

/* Home */

img.logo {
  display: flex;
  margin: 0 auto;
  margin-top: 50px !important;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 4px solid hsl(0, 100%, 50%);
  animation: rainbow 5s infinite alternate;
}

.logo-text {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-size: 3rem;
  animation: text-rainbow 5s infinite alternate;
}

/* Projects */

.project-t {
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
}

.project {
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: #1f1f1f;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}

.project-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.project-description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-size: 1.3em;
}

.project-buttons {
  display: flex;
  margin-top: 20px;
}

.project-buttons button {
  border-radius: 20px;
  border: 1px solid #ffffff;
  overflow: hidden;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background: rgba(255, 84, 255, 1);
}

.project-buttons button:hover {
  background: #ffffff;
  color: rgba(255, 84, 255, 1);
}

/* Stats */

.lavalink-t,
.monitor-t {
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lavalinks {
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  border-bottom: 1px solid #ffffff;
}

.monitors {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.lavalink,
.monitor {
  background: #1f1f1f;
  border-radius: 25px;
  border: 1px solid #ffffff;
  margin: 10px;
  padding: 20px;
}

.lavalink-head{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.monitor-head {
  margin-bottom: 25px !important;
  font-size: 1.5rem !important;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.lavalink p,
.monitor p {
  font-size: 18px;
}

@keyframes rainbow {
  0% {
    border-color: hsl(0, 100%, 50%);
  }
  100% {
    border-color: hsl(255, 100%, 50%);
  }
}

@keyframes text-rainbow {
  0% {
    color: hsl(0, 100%, 50%);
  }
  100% {
    color: hsl(255, 100%, 50%);
  }
}
